<!-- Scripts and Stylesheets -->

<!-- Load JQUERY JavaScript, THEN Bootstrap JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Load JQUERY CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />

<!-- Load FACTORY CSS -->

<script src="https://use.fontawesome.com/1f259fae63.js"></script>

<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" />

<!-- Load Custom CSS -->
<link rel="stylesheet" href="/dashboard/css/nav_reset.css" />
<link rel="stylesheet" href="/dashboard/css/styles.css" />
<link rel="stylesheet" href="/dashboard/css/typography.css" />

<!-- Custom Fonts -->
<link href='https://fonts.googleapis.com/css?family=Martel:400,400italic,900' rel='stylesheet' type='text/css' />

<!-- Typeography -->
<link href='//fonts.googleapis.com/css?family=Cormorant+Garamond:400,400italic,700,700italic' rel='stylesheet' type='text/css' />

<!-- TITLE and META Tags -->
<title>Dashboard {{admin_name}}</title>


<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />