<!-- Scripts and Stylesheets -->

<!-- Load JQUERY JavaScript, THEN Bootstrap JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Load JQUERY CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />

<!-- Load FACTORY CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

<link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css' />
<link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic' rel='stylesheet' type='text/css'>

<!-- Load Custom CSS -->
<link rel="stylesheet" href="/stylesheets/nav_reset.css" />
<link rel="stylesheet" href="/stylesheets/styles.css" />
<link rel="stylesheet" href="/stylesheets/typography.css" />


<!-- TITLE and META Tags -->
<title>Grand Title</title>
<meta name="ROBOTS" content="INDEX, FOLLOW" />
<meta name="description" content="Welcome to AppleWaffles - the home of Jo Agasa - illustrator and artist." />
<meta name="keywords" content="Applewaffles, jo, agasa, art, illustrator, apple, waffles, anime, drawing, commission, freelance, portfolio, gallery, digital, photoshop, lol, steven universe, collage" />
<meta name="googlebot" content="index,follow" />
<meta name="author" content="Jo Agasa" />

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />