<!doctype html>
<html lang="en">

<!--
    BLUE SCREEN OF DEATH STYLE ERROR PAGE BY ADAM GREENOUGH (adamgreenough.com).
    RELEASED UNDER CREATIVE COMMONS Attribution-ShareAlike 3.0 Unported
    http://creativecommons.org/licenses/by-sa/3.0/
    ENJOY! :D
-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>404 error: page not found</title>

    <style>
        body {
            background-color: #f6f1ed;
            font-size: 80%;
            padding: 20px;
            text-align: center;
        }

        main {
            position: relative;
            background: white;
            height: 200px;
            width: 60%;
            margin: 0 auto;
            padding: 20px;
            resize: both;
            overflow: auto;
        }

        div {
            width: 100%;
            transform: translate(-50%, -50%);
            position: absolute;
            top: 50%;
            left: 50%;
            resize: both;
            overflow: auto;
        }

        h1 {
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            font-size: 12em;
            color:#30231d;
        }

        p {
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            font-size:2em;
            letter-spacing: 5px;
            color:#50413c;
            margin-top: -100px;
        }
    </style>
</head>
<body>




        <div>
            <h1>SHUCKS</h1>
            <p>The page cannot be found.</p>
        </div>



</body>
</html>

