<!DOCTYPE html>
<html ng-app>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>



<div class="jumbotron hidden-xs hidden-sm">

    <h1>Contact</h1>


</div>

<div class="container-fluid">

    <h1>Contact Page</h1>

</div>





</body>
</html>
