<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

  <!-- Place Angular App Scripts here -->

</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="jumbotron hidden-xs hidden-sm"></div>
  <div class="container">
    <div class="row headliner">
      <h1> Blank Page</h1>
    </div>
  </div>

  <footer>
<!-- add the partials footer later -->
  </footer>

</body>
</html>
